<h2>Корзина</h2>

<% @items.each do |item| %>
  <%= item %> <%= button_to 'удалить', remove_item_cart_path(item['id']) %><br/>
<% end %>  

<%= form_for @new_order do |f| %>
  <%= f.text_area :customer_notice, placeholder: 'Примечание к заказу' %><br/>
  <%= f.submit 'Отправить' %>
<% end %>