<!DOCTYPE html>
<html>
  <head>
    <title>Панель управления администратора</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'administrator', media: 'all' %>
  </head>

  <body>
    <hr/>
      <p><%= link_to 'Категории товаров', administrators_product_categories_path() %> | 
         <%= link_to 'Товары', administrators_products_path() %> | 
         <%= link_to 'Заказы', administrators_orders_path() %>
      </p>
    <hr>
    <%= yield %>
    <%= javascript_include_tag 'administrator' %>
  </body>
</html>
